body {
    margin:0;
    width:100vw;
    height:100vh;
    display: grid;
    grid-template-rows: 0.1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

h1 {
    grid-column: 1 / 3;
    text-align: center;
}

section {
    display: grid;
    grid-template-rows: 0.1fr 1fr;
}

section h2 {
    text-align: center;
}

section {
    border-top: 1px solid black;
}

section:first-of-type, section:nth-of-type(3) {
    border-right: 1px solid black;
}

figure {
    max-width:30%;
    max-height:30%;
}


/* EXERCICE 1 */
#glass-body{
    
    animation-name : appear;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-fill-mode: forwards;

    
}


@keyframes appear {
    from {
        fill: rgba(0,0,0,0);;
    }
    to {
       fill: rgba(157, 17, 17, 1);
    }
}



/* EXERCICE 2 */

.tiny-bubble{
    
     
    animation-name : appear2;
    animation-delay: 1s;
    animation-duration: 4s;
    animation-fill-mode: forwards;

}

@keyframes appear2 {
    from {
        transform:translateY(0vh);
    }
    to {
       transform:translateY(-50vh);
    }
}

.small-bubble{
    
     
    animation-name : appear3;
    animation-delay: 1s;
    animation-duration: 4s;
    animation-fill-mode: forwards;

}

@keyframes appear3 {
    from {
        transform:translateY(0vh);
    }
    to {
       transform:translateY(-40vh);
    }
}

.middle-bubble{
    
     
    animation-name : appear4;
    animation-delay: 1s;
    animation-duration: 4s;
    animation-fill-mode: forwards;

}

@keyframes appear4 {
    from {
        transform:translateY(0vh);
    }
    to {
       transform:translateY(-30vh);
    }
}

.big-bubble{
    
     
    animation-name : appear5;
    animation-delay: 1s;
    animation-duration: 4s;
    animation-fill-mode: forwards;

}

@keyframes appear5 {
    from {
        transform:translateY(0vh);
    }
    to {
       transform:translateY(-20vh);
    }
}
/* EXERCICE 3 */

/*
    couleurs :
    niveau 1 #7400b8:
    niveau 2 #5e60ce:
    niveau 3 #4ea8de:
    niveau 4 #56cfe1:
    niveau 5 #72efdd:
*/



#eq1-1 ,#eq2-1 ,#eq3-1 ,#eq4-1  {
   animation-name : niveau1;
    animation-delay: 0.25s;
    animation-duration: 2s;
     animation-fill-mode:forwards;
}


#eq1-2 ,#eq2-2 ,#eq3-2 ,#eq4-2  {
   animation-name : niveau2;
    animation-delay: 0.50s;
    animation-duration: 2s;
     animation-fill-mode:forwards;
}
#eq1-3 ,#eq2-3 ,#eq3-3  {
   animation-name : niveau3;
    animation-delay: 0.50s;
    animation-duration: 2s;
     animation-fill-mode:forwards;
}

 #eq2-4 , #eq3-4   {
   animation-name : niveau4;
    animation-delay: 0.75s;
    animation-duration: 2s;
     animation-fill-mode:forwards;
}

#eq2-5 {
   animation-name : niveau5;
    animation-delay: 1s;
    animation-duration: 2s;
     animation-fill-mode:forwards;
}










@keyframes niveau1 {
    from {
       fill: #ffffff;
       
    }
    to {
     fill: #7400b8;
        
    }
}
@keyframes niveau2 {
    from {
        fill: #ffffff;
       
    }
    to {
     fill: #5e60ce;
        
    }
}
@keyframes niveau3 {
    from {
       fill: #ffffff;
       
    }
    to {
     fill: #4ea8de;
        
    }
}
@keyframes niveau4 {
    from {
      fill: #ffffff;
       
    }
    to {
     fill: #56cfe1;
        
    }
}
@keyframes niveau5 {
    from {
       fill: #ffffff;
       
    }
    to {
     fill: #72efdd;
        
    }
}


/* EXERCICE 4 */
.st23 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

/*.st23 {*/
/*  stroke-dasharray: 400;*/
/*  animation: dash 5s linear;*/
/*}*/

/*@keyframes dash {*/
/*  to {*/
/*    stroke-dashoffset: 1000;*/
/*  }*/
/*}*/

